

:root {

    --font-size-small: 14px;
    /* For smaller text */
    --font-size-medium: 21px;
    /* For regular text */
    --font-size-large: 28px;
    /* For headings */
    --font-size-extra-large: 40px;
    /* For large headings */

    --color-primary: #824936;
    /* Brownish color */
    --color-secondary: #222C2A;
    /* Dark gray color */
    --color-background: #F3EED9;
    /* Light beige color */

    /* Font families */
    --font-subtitle: "Roboto", sans-serif;
    /* Light variant of Roboto */
    --font-base:"Roboto", sans-serif ;
    /* Regular variant of Roboto */
    --font-title: "Playfair Display", serif;
    /* Black variant of Playfair Display */

    --fontW--light: 300;
    --fontW--Regular: 400;
    --fontW--Black: 900;
}


* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: large;
}

img {
    max-width: 100%;
}

/* Total: */




/* Section 1: */

.intro {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding: 5rem 0;
}

.intro h1 {

    font-size: clamp(var(--font-size-extra-large),8vh,5rem);
    color: var(--color-primary);
    font-family: var(--font-title);
    font-weight: var(--fontW--Black);
}

.intro__subtitle{

    display: flex;
    gap: .7rem;
    justify-content: center;
    letter-spacing: .35rem;

}

.intro__subtitle h3 {

    font-size: var(--font-size-small);
    font-weight: var(--fontW--light);
    color: var(black, white);
    font-family: var(--font-subtitle);
    

}


.background--hero1{

    background-color: var(--color-background);


}

/* Section 2: */


.bodyText{
    padding: 5rem 0;
    width: 80%;
    margin: 0 auto;
}

.subtitle{
    font-size: var(--font-size-large);
    font-family: var(--font-title);
    font-weight: var(--fontW--Black);
}

.subtitle--dark{
    text-align: center;
    color: var(--color-primary);
}

.container--bodytext {
    font-size: var(--font-size-small);
    font-weight: var(--fontW--light);
    font-family: var(--font-subtitle);
    line-height: 1.4rem;
}

/* section 3: */

.background--hero3{

    background-color: #222C2A;

}

.container{
    
    width: 80%;
    padding: 4rem 0;
    display: flex;
    gap: 3rem;
    margin: 0 auto;
}

.container img{

    width: 20rem;
    border: transparent solid 1px;
}

.container__text h2 {

    font-size: var(--font-size-medium);
    font-family: var(--font-title);
    font-weight: var(--fontW--Black);
    color: var(--color-background);
    margin: .8rem 0;

}

.container__text p{

    font-size: var(--font-size-small);
    font-weight: var(--fontW--light);
    font-family: var(--font-subtitle);
    color: white;
}

/* section 4: */

.container--reverse{

    flex-direction: row-reverse;
}


.background--hero4{

    background-color: var(--color-primary);

}


/* Make sure all VAR is correct, make sure units are correctly used*/
/* Make sure divs are used correctly with width spacing. Look back at older vids */
/*  */

@media (max-width:800px) {

    .container{
        display: block;
    }
    .container > *{
        width:100%;
        display: block;
        margin: 20px auto;
        text-align: center;

    }
}